
.colorfondo {
background-color: rgb(27, 61, 75);
}


  
   .footer {
    position:relative ;
    align-items: center;
    align-content: end;
    justify-content: center;
    font-size: xx-large;
  }
