.datos {
    justify-content: center;
    align-items:center;
    padding: 7%;
}
.separacion{
    font-size: xx-large;}

.logojm{
    width: 100%;
}

@media (min-width: 1200px) { 
    .datos {
        height: 100% ;
    }

 }
